.header img {
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #555;
}
  
.header h1 {
    position: relative;
    color:white;
    top: 18px;
    left: 10px;
    font-family: 'Vollkorn', serif;
}

.header {
    width: auto;
    height: auto;
    display: flex;
    /* align-items: center;
    text-align: center; */
    justify-content: space-around;
}

body {
    background: #304543;
}

.header {
    margin-top: 0;
}
#card-1,
#card-2 {
    margin-top: 125px;
    flex-wrap: wrap;
}

#logo {
    display:flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    max-height: 200px;
    max-width: 200px;
}

#logo-container {
    display:flex;
    justify-content: flex-start;
    margin: 0;
    max-height: 50px;
}