.header img {
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #555;
}
  
.header h1 {
    position: relative;
    color:white;
    top: 18px;
    left: 10px;
    font-family: 'Vollkorn', serif;
    margin-top: 15px;
    margin-right: 200px ;
}

.header {
    width: auto;
    height: auto;
    display: flex;
    /* align-items: center;
    text-align: center; */
    justify-content: space-around;
}

body {
    background: #304543;
}

#card-1,
#card-2 {
    margin-top: 125px;
    flex-wrap: wrap;
}

footer {
    margin-top: 50px;        
}