.btn {
  background-color: aquamarine;
}

#new-releases {
  background-color: rgb(148, 211, 223);
}

.nar-div {
  background-color: beige;
  text-align: center;
}

.body {
  background-color: #304543;
}

#track-detail {
  text-align: center;
  background-color: rgb(148, 211, 223);
}

.row {
  text-align: center;
  background-color: rgb(148, 211, 223);
}

.columns {
   color: bisque; 
  text-align: right; 
  font-style: italic;
} 

.droplist {
    text-align: center;
    background-color:  rgb(7, 80, 18);
}
.musicmoviesheader{
    text-align: center;
    font-size: 50px;
    font-weight: 200;
    color: bisque;
}

.group1{
    text-align: center;
}

#search-results {
    font-family: monospace;
}
