.btn {
  background-color: aquamarine;
}

#new-releases {
  background-color: rgb(148, 211, 223);
}

.nar-div {
  background-color: beige;
  text-align: center;
}

.body {
  background-color: bisque;
}

#track-detail {
  text-align: center;
  background-color: rgb(148, 211, 223);
}

.row {
  text-align: center;
  background-color: rgb(148, 211, 223);
}

.droplist {
  text-align: center;
  background-color: rgb(148, 211, 223);
}
.musicmoviesheader {
  text-align: center;
}

.group1 {
  text-align: center;
}

/* start of Movie page styling */

#genres {
  width: 100%;
  display: flexbox;
  text-align: center;
  background: #304543;
}

.movies,
.more-btn {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  background: #304543;
}

.more-btn {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.more-btn:hover {
  background: #3f5a57;
}

img {
  padding: 1rem 0;
}
