.btn {
  background-color: aquamarine;
}

#new-releases {
  background-color: rgb(148, 211, 223);
}

.nar-div {
  background-color: beige;
  text-align: center;
}

.body {
  background-color: bisque;
}

#track-detail {
  text-align: center;
  background-color: rgb(148, 211, 223);
}

.row {
  text-align: center;
  background-color: rgb(148, 211, 223);
}

.droplist {
  text-align: center;
  background-color: rgb(148, 211, 223);
}
.musicmoviesheader {
  text-align: center;
}

.group1 {
  text-align: center;
}

#genres {
  position: fixed;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(148, 211, 223);
}

.movies {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
