:root {
  --bgClr: rgb(9, 43, 14);
  --textClr: #ffe08a;
  --hoverClr: rgb(13, 71, 22);
}

html {
  background: var(--bgClr);
}

.pageTitle {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--textClr);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home,
#searchBtn {
  margin: 0 1rem;
  color: var(--textClr);
}

.search-container {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
}

#input {
  text-transform: capitalize;
}

.genreContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#genres {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0.125rem 0;

  background: var(--bgClr);
}

.genreBtn {
  margin: 0.5rem 1rem;
}

.searchPageNum,
.genrePageNum {
  margin: 0 auto;

  text-align: center;
}

.pageNumberInput,
.genreNumberInput {
  width: 7%;
  display: flex;
  margin: 0 auto;
}

.pageNumber,
.pageName {
  text-align: center;
  color: var(--textClr);
}

.movies {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bgClr);
}

.more-btn {
  width: 25%;
  margin: 1rem auto;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  color: var(--textClr);
  background: var(--bgClr);
}

#nextSearch,
#previousSearch {
  position: relative;
  top: -3rem;
}

#next:hover,
#nextSearch:hover,
#previous:hover,
#previousSearch:hover,
#genres > button:hover,
#home:hover,
#searchBtn:hover,
#searchPageNumId:hover,
#genrePageNumId:hover,
#modal-close:hover,
img:hover {
  background-color: var(--hoverClr);
}

img {
  padding: 1rem 1rem;
}

.title {
  text-align: center;
  text-decoration: underline;
  color: var(--textClr);
}

.content {
  text-align: center;
  font-size: 1.125rem;
  color: white;
}

.image {
  margin: 0 auto;
}

.alert {
  text-align: center;
  color: red;
}

.modal-close {
  position: absolute;
  transform: translate(1.25rem, -1.25rem);
}

.modal-content {
  background-color: var(--bgClr);
}

.videos {
  display: flex;
  justify-content: center;
}

.videos:hover {
  color: var(--textClr);
}

.titleSmall {
  font-size: 1.5rem;
  text-align: center;
  color: var(--textClr);
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .nav {
    display: flex;
    flex-wrap: wrap;
  }

  .genreNumberInput,
  .pageNumberInput {
    width: 20%;
  }

  #next,
  #previous,
  #nextSearch,
  #previousSearch {
    width: 50%;
  }
}
